body {
    font-family: Verdana;
    text-align: center;
}

#H1 {
    font-size: 3em;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(40, 53, 73);
}

#H3 {
    font-size: 1.5em;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(40, 53, 73);

}

#meuBotao {
    border-radius: 5em;
    border-color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(249, 126, 91);
    color: rgb(15, 13, 13)
}





































